body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.scoreboard {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 32px;
}

.options {
    flex: 1;
    padding: 24px;
}

.options-header {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin: 32px 0px 48px 0px;
}

.options-content {
    display: flex;
    justify-content: space-evenly;
    gap: 4px;  
}

.option {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.option-image {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 240px;
    width: 240px;
    border: 4px solid black;
    border-radius: 10px;
    margin-bottom: 16px;
}

img {
    width: 245px;
    height: auto;
}

.option-label {
    font-size: 20px;
    font-weight: bold;
}

.outcome {
    flex: 1;
    display: flex;
    font-size: 24px;
    font-weight: bold;
}

.human-choice {
    flex: 1;
    background-color: lightblue;
    text-align: center;
    padding: 24px;

}

.computer-choice {
    flex: 1;
    background-color: pink;
    text-align: center;
    padding: 24px;

}

.round-winner {
    flex: 1;
    background-color: wheat;
    color: #483C32;
    font-size: 32px;
    text-align: center;
    padding: 24px;
}


